@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");


.myStyle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    font-weight: 500;
    font-size: 18px;
}